:root {
    --main-bg-color: #261D45;
    --secondary-bg-color: #231B3D;
    --tertiary-bg-color: #032314;
    --search-container-border: #3f2c70;
    --search-container-bg-color: #100D23;
    --search-container-text-color: #96DDF2;
    --text-red: #E5526F;
    --text-green: #0BE784;
    --b-sidebar-footer-border-top: #01C176;
  }
  