@import url('cyberpunk_theme.css');

.bg-color-261D45 {
    background-color: var(--main-bg-color);
    padding-top: 107px; /* radial tree top padding */
}
.top-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 9px 63px rgba(0, 0, 0, 0.3);
}
.search-container {
    display: flex;
    align-items: center;
    border: 6px solid var(--search-container-border);
    border-radius: 10px;
    margin: 0 auto;
    background-color: var(--search-container-bg-color);
}
.search-container input[type="text"] {
    flex: 1;
    font-size: 23px;
    padding: 17px;
    border: none;
    background-color: var(--search-container-bg-color);
    color: var(--search-container-text-color);
    width: 100%;
}
.search-container button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding-right: 26px;
}
.search-container i {
    font-size: 23px;
    color: var(--search-container-border);
}
.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.response-container {
    text-align: left;
    color: #FFF;
    padding-left: 17px;
    padding-right: 17px;
    width: 100%;
}
.network-selector {
  margin-left: auto; /* push the network selector to the right */
}
.text-red {
  color: var(--text-red);
}
.text-green {
  color: var(--text-green);
}

@media (max-width: 600px) { /* responsive styles for small screens */
  .search-container {
    flex-direction: column; /* stack elements vertically */
  }
  .network-selector {
    margin-top: 20px; /* add some space between elements */
  }
}
.sidebar-button {
  background-color: transparent;
  border-color: transparent;
  padding: 0.5rem 1rem;
}
.sidebar-button:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--search-container-text-color);
}
.sidebar-button:focus {
  background-color: transparent;
  border-color: transparent;
}
button:hover i,
.sidebar-button:hover i {
  background-color: transparent;
  color: var(--search-container-text-color); /* change the icon color to blue when hovering */
}
.btn-secondary {
  background-color: transparent !important;
  border-color: transparent !important;
}
.btn-secondary:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(-search-container-text-color) !important;
}
.b-sidebar-header {
  background-color: var(--search-container-bg-color);
  color: var(--b-sidebar-footer-border-top);
}
.b-sidebar-body {
  background-color: var(--secondary-bg-color);
  color: var(--search-container-text-color)
}
.b-sidebar-footer {
  background-color: var(--tertiary-bg-color);
  border-top: 1.7px solid var(--b-sidebar-footer-border-top);
  display: flex; /* make the element a flex container */
  justify-content: flex-start; /* align text to the left */
}
.close-button {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
}
.close-button:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(-search-container-text-color);
}
.icon-pad {
  padding-right:17px;
}

/* bootstrap-vue tabs */
.card {
  border: transparent !important; 
}
.card-header {
  background-color: var(--search-container-bg-color) !important;
}
.card-body {
  background-color: var(--secondary-bg-color) !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--search-container-text-color) !important;
  background-color: var(--secondary-bg-color) !important;
  border-color: transparent !important;
}

/* radial tidy tree */
.radial-tree-visual {
  width: 71%;
  margin-top: 50px;;
  background-color: var(--secondary-bg-color);
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* vuejs table */
.table-dark {
  color: var(--search-container-text-color) !important;
  font-size: small;
  background-color: var(--secondary-bg-color) !important;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: var(--search-container-border) !important;
}

.table-dark.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: var(--main-bg-color) !important;
}

.table-sm td,
.table-sm th {
  padding: 0.17rem !important;
}