{% block navbar_sidebar %}
    <div class="top-container">
        <!-- using the verbatim tag to avoid conflicts between Django and Vue.js templates -->
        {% verbatim %}
        <div class="search-container">
            <!-- keeps the elements on the same line and responsive -->
            <div class="container-fluid">
                <!--  loading bar that is displayed while data is being fetched from the server -->
                <div>
                    <b-progress v-if="loading" :value="progressValue" variant="danger" :animated="loading_animation"
                        class="mt-3">
                    </b-progress>
                </div>
    
                <!-- The sidebar menu allows users to access different pages,
                    the network toggle allows users to switch between testnet and public Horizon servers,
                    the input field allows users to enter their query, 
                    and the search button initiates the search function. -->
                <div class="row align-items-center">
                    <div class="col-auto">
                        <b-button class="sidebar-button" v-b-toggle href="#sidebar-menu" @click.prevent><i
                                class="fa fa-bars"></i>
                        </b-button>
                    </div>
                    <div class="col">
                        <div class="row align-items-center">
                            <b-form-checkbox v-model="network_toggle" switch @change="toggleNetwork"
                                :class="{ 'text-red': !network_toggle, 'text-green': network_toggle }">{{network_selected}}
                            </b-form-checkbox>
                            <input type="text" v-model="query_account" @keyup.enter="search"
                                placeholder="Paste a Stellar account address...">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button @click="search"><i class="fa fa-space-shuttle"></i></button>
                    </div>
                </div>
    
            </div>
        </div>
        {% endverbatim %}
    </div>
    
    <!-- The sidebar contains links and information that can be accessed by the user. -->
    <b-sidebar id="sidebar-menu" title="StellarMap.Network" shadow>
        <div class="px-3 py-2">
            This web application allows users to generate the lineage of Stellar addresses
            and visualize them in a radial, tidy tree format. The tree maps address types
            and activity, providing a clear and organized view of the relationships between addresses.
        </div>
    
        <template #footer="{ hide }">
            <div class="d-flex text-light align-items-center px-3 py-2">
                <b-button class="close-button" @click="hide">
                    <i class="fas fa-sign-out icon-pad"></i> Close
                </b-button>
            </div>
        </template>
    </b-sidebar>

{% endblock %}